<div class="page" data-name="consejos">
    
    <div class="navbar fondoazul" style="z-index:100;">
      <div class="navbar-inner sliding">
        <div class="left">
          <a class="link back">
            <i class="icon icon-back backblack"></i>
            <span class="if-not-md backblack">Atrás</span>
          </a>
        </div>
        <div class="title" style="text-align:center; font-size:18px;font-family:Segoe UI;">Consejos</div>
      </div>
    </div>

    <div class="page-content"> 
      
         
      
      <div id="consejos">
        <!--<div class="card card-expandable">
          <div class="card-content">
            <div style="background-image:url(http://localhost/veterinapp/img/teddy.jpeg); height:200px; width:100%;background-size:100% auto;background-repeat:no-repeat;">
              <div class="card-header text-color-white display-block" style="font-size:22px;">Titulo</div>
              <a href="#" class="link card-close card-opened-fade-in color-white" style="position: absolute; right: 15px; top: 15px">
                <i class="icon f7-icons" style="color:cyan;">multiply_circle_fill</i>
              </a>
            </div>
            <div class="card-content-padding">
              <small style="color:gray;">Fecha</small>
              <p>Descripcion</p>
              <small style="color:gray;">Autor</small>
            </div>
          </div>
        </div>
    </div>-->
     </div>

          
        
        
   
</div>