<div class="page" data-name="favoritos_doctores">
    
    <div class="navbar fondoazul">
        <!--<div class="navbar-bg"></div>-->
        <div class="navbar-inner">
          <div class="left">
            
            <a style="color:black;" href="/home/" > <i class="icon icon-back"></i>  Atrás</a>
            
          </div>  
          <div class="title" style="font-size:18px;font-family:Segoe UI;">Favoritos Doctores</div>
        </div>
    </div>
     

    <div class="page-content"> 
    <div id="doctores_favoritos">

   </div>
        
    </div>
   
</div>