  <div class="page" data-name="login">
      
      

  <div class="page-content fondoazul"> 
    
    <!--<div class="login-screen-title logo"></div> -->
   <!-- <div class="logologin"></div> -->
   <div class="row" >
    <div class="col" ></div>
    <div class="col logologin"></div>
    <div class="col" ></div>
  </div> 
<form>
    
     
   
       <!-- <div class="row" >
            <div class="col" style="margin-left: 20px;" >
                <div class="item-title item-label">Nombre</div>
           <input type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre">  
            </div>
        </div> -->
    
<div class="list no-hairlines-md">
  <ul class="fondoazul">
    <li class="item-content item-input rectangulo">
      <div class="item-media">
        <i class="f7-icons">dog</i>
      </div>
      <div class="item-inner">
        <div class="item-input-wrap">
          <input type="text" class="letralogin" id="usuario" placeholder="           Usuario">
          <span class="input-clear-button"></span>
        </div>
      </div>
    </li>

    <div style="margin-top: 55px;"></div>

    <li class="item-content item-input rectangulo">
      <div class="item-media">
        <i class="f7-icons">lock_fill</i>
      </div>
      <div class="item-inner">
        <div class="item-input-wrap">
          <input type="password" class="letralogin" id="password" placeholder="           Contraseña">
          <span class="input-clear-button"></span>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="block">
<div class="row" style="margin-top:-10px;" >
  <div class="col" ></div>
    <div><a class="col" href="/recuperar/" style="color:black;">No recuerdo mi contraseña</a></div> 
</div> 
</div>

  <a  class="col button button-small button-round  rectanguloamarillo"  href="javascript:void(0)" onclick="Ingresar()">Ingresar</a>

<div class="row" style="margin-top:30px;">
  <div clas="col"></div>
  <div clas="col letralogin" style="font-size:12px;">¿Aún no tienes cuenta?</div>
  <div clas="col"></div>
</div>
  <a href="/pre-registro/" class="col button button-outline button-round rectanguloazul">Crear cuenta</a>

       <!---
            <div class="rectangulo">
                <i class="f7-icons" style="padding:10px;">dog</i>
             <div class="item-input-wrap" style="margin:-35px 0 0 80px;padding-right:10px;">       
                <input type="text" name="username" id="usuario" placeholder="          Usuario">
            </div> 
            </div>

        <div style="margin-top:30px;"></div>

            <div class="rectangulo">
                <i class="f7-icons" style="padding:10px;">dog</i>
             <div class="item-input-wrap" style="margin:-35px 0 0 80px;padding-right:10px;">       
                <input type="password" name="username" id="usuario" placeholder="       Contraseña">
            </div> 
            </div>
       
      <div class="list">
        <ul>
          <li><a class="list-button" href="javascript:void(0)" onclick="Ingresar()">Ingresar</a></li>
        -->
        </ul>
     <!---   
        <div class="block-footer">
          <p>Si aun no cuentas con un usuario registrate aqui.</p>
          <p><a href="/registro/" class="col button button-outline black">Registrate</a></p>
        </div> -->
      
    </form>

</div>
</div>