<div class="page" data-name="registro-veterinario">
    
    <div class="navbar fondoazul">
        <!--<div class="navbar-bg"></div>-->
        <div class="navbar-inner">
          <div class="left">
            
            <a style="color:black;" href="/pre-registro/" > <i class="icon icon-back"></i>  Atrás</a>
            
          </div>  
          <div class="title" style="text-align:center; font-size:18px;font-family:Segoe UI;">REGISTRO DOCTOR</div>
        </div>
    </div>
     

    <div class="page-content"> 
        <div class="block-title" style="text-align:center; font-size: 15px; margin-top:10px;"> ¡Muy bien Doc! Necesitamos sus datos.</div>
        <div class="list no-hairlines-md">
          <ul>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-floating-label">Nombre</div>
                <div class="item-input-wrap">
                  <input type="text"  name="nombre_v" id="nombre_v" placeholder="Tu nombre">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-floating-label">Apellidos</div>
                <div class="item-input-wrap">
                  <input type="text" name="apellidos_v" id="apellidos_v" placeholder="Tus apellidos">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-label">Género</div>
                <div class="item-input-wrap input-dropdown-wrap">
                  <select id="genero_v" placeholder="Please choose...">
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                  </select>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-label">Fecha de nacimiento</div>
                <div class="item-input-wrap">
                  <input type="date" name="fecha_v" id="nacimiento_v" placeholder="Please choose...">
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-floating-label">Telefono</div>
                <div class="item-input-wrap">
                  <input type="tel" name="telefono_v" id="telefono_v" placeholder="Ingresar Telefono">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-floating-label">País</div>
                <div class="item-input-wrap">
                  <input type="text" name="pais_v" id="pais_v" placeholder="Ingresar País">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-floating-label">Estado</div>
                <div class="item-input-wrap">
                  <input type="text" name="estado_v" id="estado_v" placeholder="Ingresar Estado">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-floating-label">Ciudad</div>
                <div class="item-input-wrap">
                  <input type="text" name="ciudad_v" id="ciudad_v" placeholder="Ingresar Ciudad">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-floating-label">Dirección</div>
                <div class="item-input-wrap">
                  <input type="text" name="direccion_v" id="direccion_v" placeholder="Ingresar dirección">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-floating-label">Correo</div>
                <div class="item-input-wrap">
                  <input type="text" name="correo_v" id="correo_v" placeholder="Ingresar correo">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-floating-label">Direccion Consultorio</div>
                <div class="item-input-wrap">
                  <input type="text" name="direccionc_v" id="direccionc_v" placeholder="Ingresar direccion">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-floating-label">Cédula Profesional</div>
                <div class="item-input-wrap">
                  <input type="text" name="cedula_v" id="cedula_v" placeholder="Ingresar cédula">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-floating-label">Usuario</div>
                <div class="item-input-wrap">
                  <input type="text" name="usuario_v" id="usuario_v" placeholder="Ingresar usuario">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-floating-label">Contraseña</div>
                <div class="item-input-wrap">
                  <input type="password" name="password_v" id="password_v" placeholder="Tu contraseña">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-floating-label">*Confirmar Contraseña</div>
                <div class="item-input-wrap">
                  <input type="password" name="password2_v" id="password2_v" placeholder="Tu contraseña">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>

            <a class="col button button-small button-round  rectanguloamarillo"  href="javascript:void(0)" onclick="Registrarse_V()">Registrarse </a>

            <div class="row" style= "margin-top:40px;">
             <div class="col"></div> 
            </div>

          </ul>
        </div>
        
    </div>
   
</div>