<div class="page" data-name="registro-paciente">
    
    <div class="navbar fondoazul">
        <!--<div class="navbar-bg"></div>-->
        <div class="navbar-inner">
          <div class="left">
            
            <a style="color:black;" href="/pre-registro/" > <i class="icon icon-back"></i>  Atrás</a>
            
          </div>  
          <div class="title" style="text-align:center; font-size:18px;font-family:Segoe UI;">REGISTRO PACIENTE</div>
        </div>
    </div>
     

    <div class="page-content"> 
        <div class="block-title" style="text-align:center; font-size: 15px; margin-top:10px;" > ¡Muy bien! Por favor apoyanos con tus datos.</div>
        <div class="list no-hairlines-md">
          <ul>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-floating-label">Nombre</div>
                <div class="item-input-wrap">
                  <input type="text"  name="nombre_r" id="nombre_r" placeholder="Tu nombre">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-floating-label">Apellidos</div>
                <div class="item-input-wrap">
                  <input type="text" name="apellidos_r" id="apellidos_r" placeholder="Tus apellidos">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-label">Género</div>
                <div class="item-input-wrap input-dropdown-wrap">
                  <select id="genero_r" placeholder="Please choose...">
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                  </select>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-label">Fecha de nacimiento</div>
                <div class="item-input-wrap">
                  <input type="date" name="nacimiento_r" id="nacimiento_r" placeholder="Please choose...">
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-floating-label">Telefono</div>
                <div class="item-input-wrap">
                  <input type="tel" name="telefono_r" id="telefono_r" placeholder="Ingresar Telefono">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-floating-label">País</div>
                <div class="item-input-wrap">
                  <input type="text" name="pais_r" id="pais_r" placeholder="Ingresar País">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-floating-label">Estado</div>
                <div class="item-input-wrap">
                  <input type="text" name="estado_r" id="estado_r" placeholder="Ingresar Estado">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-floating-label">Ciudad</div>
                <div class="item-input-wrap">
                  <input type="text" name="ciudad_r" id="ciudad_r" placeholder="Ingresar Ciudad">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-floating-label">Dirección</div>
                <div class="item-input-wrap">
                  <input type="text" name="direccion_r" id="direccion_r" placeholder="Ingresar dirección">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-floating-label">Correo</div>
                <div class="item-input-wrap">
                  <input type="text" name="correo_r" id="correo_r" placeholder="Ingresar correo">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-floating-label">Usuario</div>
                <div class="item-input-wrap">
                  <input type="text" name="usuario_r" id="usuario_r" placeholder="Ingresar usuario">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-floating-label">Contraseña</div>
                <div class="item-input-wrap">
                  <input type="password" name="password_r" id="password_r" placeholder="Tu contraseña">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            
            <li class="item-content item-input">
              <div class="item-media">
                <i class="icon demo-list-icon"></i>
              </div>
              <div class="item-inner">
                <div class="item-title item-floating-label">*Confirmar Contraseña</div>
                <div class="item-input-wrap">
                  <input type="password" name="password2_r" id="password2_r" placeholder="Tu contraseña">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>

            <a class="col button button-small button-round  rectanguloamarillo"  href="javascript:void(0)" onclick="Registrarse()">Registrarse </a>

            <div class="row" style= "margin-top:40px;">
             <div class="col"></div> 
            </div>

          </ul>
        </div>
        
    </div>
   
</div>